.header {
    margin: 0;
    padding: 0;
    height: auto;
    max-height: 85px;
    background-color: #557174;
    text-align: center;
    font-size: 8vh;

    span {
        position: fixed;
        top: 6vh;
        right: 0;
        font-size: 22px;
        color: #f7f7e8;
        text-transform: uppercase;
    }
}
